# Ignorar el entorno virtual
venv/

# Ignorar archivos de caché de Python
__pycache__/
*.pyc

# Ignorar archivos de configuración de IDE
.vscode/
.idea/

# Ignorar archivos de registro
*.log

# Ignorar archivos de configuración de sistema operativo
.DS_Store
Thumbs.db

# Ignorar archivos de configuración de Git
.git/
