{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
  <h1 class="text-center mb-4">Matriz de Puntos</h1>

  <div class="card">
    <div class="card-body">
      <form action="{{ url_for('point_matrix.index') }}" method="POST">
        <div class="form-group">
          <label for="secuencia1">Secuencia 1</label>
          <input
            type="text"
            class="form-control"
            id="secuencia1"
            name="secuencia1"
            maxlength="30"
            placeholder="Introduce la primera secuencia aquí"
            required
          />
        </div>
        <div class="form-group mt-3">
          <label for="secuencia2">Secuencia 2</label>
          <input
            type="text"
            class="form-control"
            id="secuencia2"
            name="secuencia2"
            maxlength="30"
            placeholder="Introduce la segunda secuencia aquí"
            required
          />
        </div>
        <button type="submit" class="btn btn-primary mt-3">Procesar</button>
      </form>
    </div>
  </div>

  {% if result %}
  <div class="card mt-5">
    <div class="card-body">
        <hr>
        <h2 class="card-title">Resultado</h2>
        <p><strong>Demo:</strong></p>
        <p>
            <span class="text-otro">{{ result.demo_ }}</span>
        </p>
    </div>
  </div>
  {% endif %}
</div>
{% endblock %}
